*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 
body{
    background-color: cadetblue;
}
.container{
    width: 40%;
    min-width: 400px;
    border: 3px solid black;
    border-radius: 20px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    padding: 50px 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
input{
    background-color: ghostwhite;
    padding: 30px 20px;
    border-radius: 10px;
    margin-bottom: 50px;
    box-shadow: 0 15px 20px rgba(0,0,0,0.3);

}
input, button {
    height: 50px;
    background-color: #ffffff;
    color: #080808;
    font-weight: 500;
    border-radius: 5px;
}
input{
    width: 60%;
    padding: 0 18px;
    font-size: 15px;
}
button{
    width: 30%;
    float: right;
}
.output{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.output div{
height: 100px;
width: 100px;
border-radius: 5px;
background-color: gray;
padding: 20px 0px;
color: greenyellow;
place-items: center;
box-shadow: 0 15px 20px rgba(0,0,0,0.3);
display: grid;

}
span{
    font-size: 30px;
    font-weight: 510;
}
p{
    font-size: 16px;
    color: rgb(red, green, rgba(123, 255, 0, 0.582));
    font-weight: 420;
}

